header{
    background-color: rgb(46, 214, 130);
    padding: 20px;
    width: 100%;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
header h3{
    margin: 0;
}
body{
    background-color: rgb(231, 231, 231);
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-x: hidden;
}

.addTask{
    display: grid;
    margin: 5% 25% 0 25%;
    text-align: center;
    background-color: rgb(160, 160, 160);
    border-radius: 12px;
    font-size: 24px;
    padding: 24px;
}
input:nth-child(-n+3){
    border: none;
    outline: 2px solid black;
    border-radius: 24px;
    padding: 6px 12px 6px 12px;
    width: 70%;
}
input:nth-child(3){
    border: none;
    outline: 2px solid black;
    border-radius: 24px;
    padding: 6px 12px 6px 12px;
    width: 70%;
    height: 40px;
    margin-top: 10px;
}
input:last-child{
    border: none;
    outline: 2px solid black;
    border-radius: 24px;
    padding: 6px 12px 6px 12px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
input:last-child:hover{
    background-color: rgb(46, 214, 130);
    cursor: pointer;
}
input{
    box-shadow: -4px 4px 0 black;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list{
    display: grid;
    margin: 5% 25% 0 25%;
    padding: 20px;
    height: 300px;
    overflow-y: scroll;
}
.list{
    background-color: rgb(160, 160, 160);
    border-radius: 12px;
    font-size: 24px;
}
.list .opisanie, .zadacha{
    color: rgb(3, 68, 48); 
}
.list .taskNone{
    text-align: center;
}